.section__heading {
  display: flex;
  margin: auto;
  height: 51px;
  gap: 40px;
  margin-bottom: 80px;
}

.section__heading-title {
  display: flex;
  align-items: center;
  font-size: 40px;
  font-weight: 500;
  padding: 0 7px;
  border-radius: 7px;
  color: var(--color-text);
  background-color: var(--color-primary);
}

.section__heading-description {
  font-size: 18px;
  line-height: 1.3;
  max-height: 46px;
  font-weight: 400;
  color: var(--color-text);
}

@media (min-width: 768px) and (max-width: 1024px) {
  .section__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: auto;
  }

  .section__heading-title {
    height: 45px;
  }
}
